<div ng-include src="'app/partials/adminHeader.html'"></div>
<div class="container-fluid" id="labelContainer">
    <div class="text-left">
        <img src="img/icon-mark.png" width="23" height="23" />&nbsp;&nbsp;请插入移动硬盘：
    </div>
</div>
<div class="container-fluid body-content">
    <img class="disk" src="img/icon-disk.png" width="97" height="97" />
</div>
<div class="container-fluid" id="buttonContainer">
    <div class="text-right">
        <a ng-click="nextPage()" class="btn btn-primary">下一步</a>
    </div>
</div>
<footer>
    首都医科大学附属北京安贞医院版权所有
    <br/> 京卫计网审[2014]第0113号 京ICP备11017250号-3
</footer>
