<div ng-include src="'app/partials/adminHeader.html'"></div>
<div class="container-fluid" id="labelContainer">
    <div class="text-left">
        <img src="img/icon-mark.png" width="23" height="23" /> &nbsp;请查看报告：
    </div>
</div>
<div id="reportContainer">
    <div class="paper" id="" ng-repeat="prefix in samplePrefixes">
        <div class="whiteBack section-to-print">
        <table class="tabelBaseSet" id="logoInfoTable" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <div id="logoDiv">
                        <div id="logoImg">
                            <img src="img/report-title.png" alt="" />
                        </div>
                        <div id="checkName">
                            <span>受检者姓名:&nbsp;{{report[prefix].username}}</span>
                            <br />
                            <span>送检单位及科室:&nbsp;{{report[prefix].hospital}}</span>
                        </div>
                        <div class="clearFix"></div>
                    </div>
                    <div id="geneTitle">单基因遗传病基因检测报告</div>
                </td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="0" class="tabelBaseSet" id="sampleInfoTabel">
            <tr class="table-title-tr">
                <td colspan="18">样品信息</td>
            </tr>
            <tr>
                <td colspan="2">样品编号</td>
                <td colspan="2">姓名</td>
                <td>性别</td>
                <td colspan="3">出生日期/年龄</td>
                <td colspan="2">样品类型</td>
                <td colspan="4">送检医院</td>
                <td colspan="2">送检医生</td>
                <td colspan="2">收样日期</td>
            </tr>
            <tr>
                <td colspan="2">{{report[prefix].sampleNum}}</td>
                <td colspan="2">{{report[prefix].username}}</td>
                <td>{{report[prefix].gender}}</td>
                <td colspan="3">{{report[prefix].birthday}}</td>
                <td colspan="2">{{report[prefix].sampleType}}</td>
                <td colspan="4">{{report[prefix].hospital}}</td>
                <td colspan="2">{{report[prefix].doctor}}</td>
                <td colspan="2">{{report[prefix].sampleDate}}</td>
            </tr>
            <tr>
                <td colspan="2">临床表现</td>
                <td colspan="16">{{report[prefix].diseaseCharacter}}</td>
            </tr>
            <tr>
                <td colspan="2">家族史</td>
                <td colspan="16">{{report[prefix].familyHistory}}</td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="0" class="tabelBaseSet" id="checkInfoTable">
            <tr class="table-title-tr">
                <td colspan="18">检测信息</td>
            </tr>
            <tr>
                <td colspan="2">检测样品编号</td>
                <td colspan="16" width="645">{{report[prefix].productNum}}</td>
            </tr>
            <tr>
                <td colspan="2">疾病名称</td>
                <td colspan="16">{{report[prefix].disease}}</td>
            </tr>
            <tr>
                <td colspan="2">检测方法</td>
                <td colspan="16">Next Generation Sequencing</td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="0" class="tabelBaseSet" id="checkResultTable">
            <tr class="table-title-tr">
                <td colspan="7">检测结果</td>
            </tr>
            <tr>
                <td>基因</td>
                <td>染色体位置</td>
                <td>核苷酸变化 / 突变名称</td>
                <td>氨基酸变化</td>
                <td>杂合性</td>
                <td>变异类型</td>
                <td>致病性</td>
            </tr>
            <tr height="32" data-ng-repeat="result in report[prefix].result">
                <td width="83">{{result.gene}}</td>
                <td width="126">{{result.position}}</td>
                <td width="196">{{result.nucleotide}}</td>
                <td width="128">{{result.amino}}</td>
                <td width="86">{{result.heterozygous}}</td>
                <td width="102">{{result.type}}</td>
                <td>{{result.pathogenicity}}</td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="0" class="tabelBaseSet" id="resultInstructionsTable">
            <tr class="table-title-tr">
                <td>结果说明</td>
            </tr>
            <tr>
                <td>
                    <div class="wordSet">
                        {{report[prefix].introduction}}
                    </div>
                </td>
            </tr>
        </table>
        <table border="0" cellpadding="0" cellspacing="0" class="tabelBaseSet" id="adviceTable">
            <tr class="table-title-tr">
                <td>建议</td>
            </tr>
            <tr id="tabel-advice-tr">
                <td>
                    <div class="wordSet">&nbsp;</div>
                </td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="0" class="tabelBaseSet" id="referenceTable">
            <tr class="table-title-tr">
                <td>参考文献</td>
            </tr>
            <tr>
                <td>
                    <div class="wordSet">
                        <p align="left" ng-repeat="pubmed in report[prefix].pubmed.split('<br/>')">{{pubmed}}</p>
                    </div>
                </td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="0" class="tabelBaseSet" id="statementTable">
            <tr>
                <td colspan="4">
                    <div class="wordSet">
                        <span>
                            **本报告结果只对送检样品负责。本中心对以上结果保留最终解释权，如有释义，请再收到结果后的7个工作日内与我们联系。
                        </span>
                        <br />
                        <span>
                            **以上结论均为实验室检测数据，仅用于突变检测之目的，不代表最终诊断结果，仅供临床参考。
                        </span>
                        <br />
                        <span>
                            **数据解读规则参考美国医学遗传学和基因组学学会（American College of Medical Genetics and Genomics，ACMG）相关指南。
                        </span>
                        <br />
                        <span>
                            **变异命名参照HGVS建议的规则给出（http://www.hgvs.org/mutnomen）。
                        </span>
                    </div>
                </td>
            </tr>
            <tr id="footerMsg">
                <td class="footerTdBorder">实际操作人:<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                <td class="footerTdBorder">报告撰写人:<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                <td class="footerTdBorder">审核人:<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                <td>
                    报告日期:
                    <span>{{report.dateYear}}</span>年
                    <span>{{report.dateMonth}}</span>月
                    <span>{{report.dateDay}}</span>日
                </td>
            </tr>
        </table>
        </div>
    </div>
</div>
<div class="container-fluid" id="buttonContainer">
    <div class="row">
        <div class="col-md-6 text-left">
            <div class="btn-group">
                <button class="btn btn-primary" ng-click="printMedicalReport()">打印临床报告</button>
                <button class="btn btn-primary" ng-click="displayDetailedReport(taskId)">查看详细报告</button>
            </div>
        </div>
        <div class="col-md-6 text-right">
            <a href="#/home" class="btn btn-primary">返回</a>
        </div>
    </div>
</div>
<footer>
    首都医科大学附属北京安贞医院版权所有
    <br/> 京卫计网审[2014]第0113号 京ICP备11017250号-3
</footer>
