<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- version 1.4.7-->
    <script src="../../vendor/angularjs/angular.js"></script>
    <script src="app/index.js"></script>
    <!--
    angularjs1.3.0以下
    使用index2.js文件
    -->
</head>

<body ng-app="myApp">
        <div ng-controller="secondController">
            <div>
                <input type="text" ng-model="name" value="{{name}}"/>
                <br/>
                <input type="text" ng-model="age" value="{{age}}" />
            </div>
            姓名:{{name}}
            <br/>
            年龄:{{age}}
        </div>

        <div ng-controller="threeController">
            <div>
                <input type="button" value="{{myName}}" ng-model="myName" />
            </div>
            <br/>
            {{myName}}
        </div>
</body>
</html>

<!--
内置指令包括：
ng-app
ng-controller
ng-model
ng-repeat
ng-init
ng-bind
ng-include


-->