.error {
    background-color: red;
}
.warning {
    background-color: yellow;
}

.prompt{
    background-color: #0000FF;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.style1{
    background-color: #c1e2b3;
}

.style2{
    background-color: #c12e2a;
}

.style3{
    background-color: #b6caa7;
}

.myDefine{
    font-size: 20px;
}
