<div ng-include src="'app/partials/adminHeader.html'"></div>
<div class="container-fluid" id="labelContainer">
    <div class="text-left">
        <img src="img/icon-mark.png" width="23" height="23"> &nbsp;请选择{{title}}：
    </div>
</div>
<div id="fileContainer">
    <div class="imgContainer" id="imgContainer_{{$index}}" name="{{file.name}}" data-ng-repeat="file in files">
        <img src="img/icon-file.png" alt="" class="file" ng-click="clickFile($index)">
        <div class="title">{{file.name}}</div>
        <input type="hidden" name="filePath" value="{{file.path}}">
    </div>
</div>
<div class="container-fluid" id="buttonContainer">
    <div class="text-right">
        <a class="btn btn-primary" ng-click="nextPage()">下一步</a>
    </div>
</div>
<footer>
    首都医科大学附属北京安贞医院版权所有
    <br/> 京卫计网审[2014]第0113号 京ICP备11017250号-3
</footer>
