<div ng-include src="'app/partials/adminHeader.html'"></div>
<div class="container-fluid" id="labelContainer">
    <div class="text-left">
        <img src="img/icon-mark.png" width="23" height="23"> &nbsp;请选择参数：
    </div>
</div>
<div id="parameterContainer">
    <ul class="list-unstyled" data-ng-repeat="(key,param) in parameters">
        <li>            
                <span class="badge">{{$index}}</span>&nbsp;&nbsp;
                
                <span ng-if="param.type == 'boolean'">
                    <input type="checkbox" id="{{key}}" ng-model="param.value">&nbsp;{{param.title}}
                </span>
                <span ng-if="param.type == 'string'">
                    {{param.title}}&nbsp;<input type="text" id="{{key}}" ng-model="param.value">
                </span>
                <span ng-if="param.type == 'number'">
                    {{param.title}}&nbsp;<input type="text" id="{{key}}" ng-model="param.value">
                </span>
        </li>
    </ul>
    <ul class="list-unstyled">
        <li>            
                <span class="badge">2</span>&nbsp;&nbsp;
                <span>BWA中允许的错配率：&nbsp;<input type="text" id="MisMatch" value="3"></span>
                
        </li>
        <li>            
                <span class="badge">3</span>&nbsp;&nbsp;
                <span>BWA允许的最大插入片段大小：&nbsp;<input type="text" id="Insertionsize" value="500"></span>
                
        </li>
        <li>            
                <span class="badge">4</span>&nbsp;&nbsp;
                <span>GATK用于校正的SNP位点文件：&nbsp;
                    <select name="known" id="">
                        <option value="dbsnp_138.hg19.vcf">dbsnp_138.hg19.vcf</option>
                        <option value="1000G_phase1.indels.hg19.sites.vcf">1000G_phase1.indels.hg19.sites.vcf</option>
                        <option value="1000G_omni2.5.hg19.sites.vcf">1000G_omni2.5.hg19.sites.vcf</option>
                        <option value="Mills_and_1000G_gold_standard.indels.hg19.sites.vcf">Mills_and_1000G_gold_standard.indels.hg19.sites.vcf</option>
                    </select>
                </span>
                
        </li>
    </ul>
</div>
<div class="container-fluid" id="buttonContainer">
    <div class="text-right">
        <a class="btn btn-primary" ng-click="nextPage()">下一步</a>
    </div>
</div>
<footer>
    首都医科大学附属北京安贞医院版权所有
    <br/> 京卫计网审[2014]第0113号 京ICP备11017250号-3
</footer>
