<div ng-include src="'app/partials/adminHeader.html'"></div>
<div class="container-fluid" id="labelContainer">
    <div class="text-left"> <img src="img/icon-mark.png" width="23" height="23" />&nbsp;&nbsp;请选择或上传{{title}}： 
        <select class="form-control" name="targetRegionSelect" id="targetRegionSelect">
            <option value="SureSelect_V4.bed">SureSelect_V4.bed</option>
            <option value="SureSelect_V5.bed">SureSelect_V5.bed</option>
            <option value="SureSelect_V6.bed">SureSelect_V6.bed</option>
            <option value="SeqCap_EZ_Exome_v3_capture.bed">SeqCap_EZ_Exome_v3_capture.bed</option>
            <option value="none">上传自己的目标区域文件</option>
        </select>
    </div>
</div>
<div class="progress" id="progressContainer">
  <div class="progress-bar progress-bar-striped active" id="progressBar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%">
    <span class="sr-only">{{progress}}%</span>
  </div>
</div>
<div id="uploadContainer">
    <span id="statusContainer">请将后缀名为 bed / gtf / gff 的目标区域文件拖放到此处</span>
    <form id="upload" action="" method="POST" enctype="multipart/form-data">
        <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />
        <input type="file" id="fileselect" name="fileselect" multiple="multiple" />
        <div id="submitbutton">
          <button type="submit">Upload Files</button>
        </div>
    </form>
</div>
<div class="container-fluid" id="buttonContainer">
    <div class="text-right"> <a ng-click="nextPage()" class="btn btn-primary" {{enableNextPage}}>下一步</a> </div>
</div>
<footer>
    首都医科大学附属北京安贞医院版权所有
    <br/> 京卫计网审[2014]第0113号 京ICP备11017250号-3
</footer>
