<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!--<script src="../../vendor/angularjs/angular.js"></script>-->
    <script src="http://apps.bdimg.com/libs/angular.js/1.2.9/angular.min.js"></script>
    <script src="app/index2.js"></script>

    <!--
    angularjs1.3.0以下
    使用index2.js文件
    -->
</head>

<body ng-app="myApp">
        <div ng-controller="secondController">
            <div>
                <input type="text" ng-model="data.name" value="{{data.name}}"/>
                <br/>
                <input type="text" ng-model="data.age" value="{{data.age}}" />
            </div>
            姓名:{{data.name}}
            <br/>
            年龄:{{data.age}}
            <br/>
            message:{{Data.message}}
        </div>

        <div ng-controller="threeController">
            <div>
                <input type="text" ng-model="data.name" value="{{data.name}}"/>
                <br/>
                <input type="text" ng-model="data.age" value="{{data.age}}" />
            </div>
            姓名:{{data.name}}
            <br/>
            年龄:{{data.age}}
            <br/>
            message:{{Data.message}}
        </div>
</body>
</html>