html body {
    font-family: 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, Helvetica, sans-serif;
    margin:0;
    padding:0;
}
html body.login {
    background-image: url(../img/back-login.png);
    background-position: top center;
    background-repeat: repeat-x;
    background-color: #f1f1f3;
    height: 100%;
}

.login .container {
    height: 100%;
}

#loginContainer {
    height: 19.2em;
    margin-top: 12.685em;
    text-align: center;
    min-width: 23.333em;
    max-width: 33.333em;
}

#logoContainer {
    height: 4.586em;
    background-color: #ffffff;
    opacity: 0.5;
    padding-top: 0.4em;
    width: 100%;
}

#formContainer {
    height: 14.787em;
    background-color: #fdfdfd;
    padding-top: 1.9em;
    text-align: center;
}

#formContainer input {
    width: 16.124em;
    margin: 0.522em;
    border-radius: 0;
}

#formContainer input,
#formContainer a {
    width: 16.124em;
    margin: 0.522em;
    padding: 0.143em;
    height: 2em;
    border: 1px solid #66aebf;
}

#formContainer input {
    width: 16.338em;
    padding-left: 1.786em;
}

#formContainer a {
    background-color: #017a95;
    border: 1px solid #017a95;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #d1e1e6;
}

#username {
    background-image: url(../img/icon-username.png);
    background-repeat: no-repeat;
    background-position: 0.25em center;
}

#password {
    background-image: url(../img/icon-password.png);
    background-repeat: no-repeat;
    background-position: 0.25em center;
}

html body.admin {
    height: 100%;
    overflow: hidden;
}

html body.admin div.container-fluid.body-content {
    position: absolute;
    top: 12.14em;
    bottom: 10.842em;
    right: 1em;
    left: 1em;
    overflow-y: auto;
    text-align: center;
}

.body-content img.disk {
    position: absolute;
    top: 50%;
    left: 50%;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    
    background-color: #0087a4;
    padding: 0.8em 3em 0.8em;
}

header a {
    color: #fdfdfd;
}

header .text-right {
    padding-top:20px;
}

#labelContainer {
    position: absolute;
    top: 8.14em;
    height: 4em;
    right: 1em;
    left: 1em;
    line-height: 4em;
}

#buttonContainer {
    position: absolute;
    bottom: 4.842em;
    height: 6em;
    right: 1em;
    left: 1em;
    line-height: 6em;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4.374em;
    background-color: #0087a4;
    text-align: center;
    padding: 0.734em;
    color: #f9f9f9;
    font-size: 12px;
}

#progressContainer {
    position: absolute;
    top: 12.14em;
    left: 1em;
    right: 1em;
}

#logContainer, #uploadContainer {
    border: 1px solid #c9cbca;
    position: absolute;
    top: 15em;
    bottom: 10.842em;
    overflow-y: auto;
    left: 1em;
    right: 1em;
    padding: 1em;
}
#logContainer {
    overflow: hidden;
}

.imgContainer {
    width: 8em;
    text-align: center;
    float: left;
    padding: 1em;
    margin: 0.14285em;
    cursor: pointer;
}

.imgContainer:hover {
    background-color: #eee;
}

.selectedImgContainer {
    background-color: #eee;
}

.imgContainer .file {
    margin: 0.8em;
}

.imgContainer .title {
    word-break: break-all;
    font-size: 0.93em;
}

#logContainer textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box;
    /* For Firefox                          */
    -webkit-box-sizing: border-box;
    /* For Safari                           */
    background-color: #f1f1f3;
    margin: 0;
}

#reportContainer,
#fileContainer,
#xslxContainer,
#parameterContainer {
    border: 1px solid #c9cbca;
    position: absolute;
    top: 12.14em;
    bottom: 10.842em;
    overflow-y: auto;
    left: 1em;
    right: 1em;
    padding: 1em;
}

#parameterContainer ul li {
    line-height: 20px;
}

#xslxContainer,
#uploadContainer {
    border: 2px dashed #c9cbca;
    text-align: center;
    color: #bbb;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#uploadContainer form {
    display:none;
}

#reportContainer div.paper {
    width: 100%;
    /*height: 100%;*/
    box-sizing: border-box;
    /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box;
    /* For Firefox                          */
    -webkit-box-sizing: border-box;
    /* For Safari                           */
    background-color: #f1f1f3;
    margin: 0;
    border: 1px;
    padding: 4px 6px;
    overflow: auto;
    display: inline-block;
    vertical-align: middle;
}

#reportTable {
    background: url(../img/back-report.png?a=1.0  ) top left no-repeat;
    position: relative;
}
#diseaseCharacter {
    top: 270px;
    left: 135px;
    width: 300px;
    font-size: 15px;
}
#familyHistory {
    top: 305px;
    left: 135px;
    width: 300px;
    font-size: 15px;
}
#productNum {
    top: 370px;
    left: 160px;
    width: 300px;
    font-size: 15px;
}
#checkType {
    top: 440px;
    left: 160px;
    width: 300px;
    font-size: 15px;
}

.reportLabel {
    display: block;
    position: absolute;
    height: 24px;
    width: 90px;
}

#diseaseText {
    top: 410px;
    left: 160px;
    width: 300px;
    font-size: 15px;
}
#infoTable {
    position: absolute;
    top: 230px;
    left: 14px;
    font-size: 15px;
    width: 910px;
    font-size: 14px;
    text-align: center;
}
#geneTable {
    position: absolute;
    top: 570px;
    left: 28px;
    font-size: 12px;
    width: 850px;
    font-size: 14px;
}

#geneTable td {
    text-align: center;
}


/* report */
.paper .tabelBaseSet{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    border-left:#1f1f1f solid 1px;
    text-align:center;
    background-color: white;
}

.paper .tabelBaseSet tr{
    height:50px;
}

.paper .tabelBaseSet .table-title-tr{
    background:#B9B3B3;
    height:35px;
}

.paper .tabelBaseSet .table-title-tr td{
    border-bottom:0;
}

.paper .tabelBaseSet td{
    border-bottom:#1f1f1f solid 1px;
    border-right:#1f1f1f solid 1px;
}

#logoInfoTable{
    border:0;
}
#logoInfoTable td{
    border-right:0;
    border-bottom:#1f1f1f solid 1px;
}

#logoDiv{
    height:120px;
}

#logoDiv #logoImg{
    text-align:left;
    margin-top:20px;
    margin-left:4%;
}

#logoDiv #checkName{
    text-align:left;
    float:right;
    margin-right:10%;
}

.paper .clearFix:after{
    clear:both;
    display:black;
    visibility:hidden;
    height:0;
    line-height:0;
    content:"";
}

#geneTitle{
    text-align:center;
    height:40px;
    line-height:24px;
    font-size:24px;
}

.paper .wordSet{
    line-height:1.7em;
    word-spacing:10px;
    margin-left:5px;
    margin-right:5px;
    font-size:13px;
    text-align:left;
}

#statementTable #footerMsg{
    background:white;
    height:30px;
    font-size:14px;
}
#statementTable .footerTdBorder{
    border-right:0;
}
.tabelBaseSet #tabel-advice-tr{
    height:80px;
}
.paper div.whiteBack {
    margin: 0 80px;
    padding: 40px 120px 80px;
    background-color: #FFF;
}
.carousel, .carousel-inner, .item {
    height: 100%;
    background-color: #eee;
}
.carousel .item img {
    position: relative;
    top:50%;
    left:50%;
    margin-top: -240px;
    margin-left: -240px;
}
.carousel .item div.text-result {
    padding: 80px 200px;
    height:100%;
}
.carousel .item iframe {
    width: 100%;
    height: 100%;
}
.btn-app {
    margin-right: 20px;
}
th {
    font-weight: normal;
    color:#0087a4;
    box-shadow: 5px;
}
.carousel-control.left, .carousel-control.right {
    background: none;
}
.carousel-control.left {
    background: url(../img/carousel-left.png) left center no-repeat;
}
.carousel-control.right {
    background: url(../img/carousel-right.png) right center no-repeat;
}
.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev, .carousel-control .glyphicon-chevron-right {
    opacity: 0;
}
#targetRegionSelect {
    width: 400px;
    display: inline-block;
}

@media print {
  header, #labelContainer, #buttonContainer, footer {
    display: none;
  }
  #reportContainer div.paper {
    background-color: #FFF;
  }
  body, #reportContainer, #reportContainer div.paper {
    overflow: none;
  }
  #reportContainer {
    top:0;
    bottom:0;
    position: relative;
    border:0;
    padding: 0;
    left: 0;
    right: 0;
  }
  html body.admin {
    overflow: auto;
    height: none;
  }
  .paper div.whiteBack {
    padding: 0;
    margin: 10px;
  }
  .paper .tabelBaseSet .table-title-tr td, .paper .tabelBaseSet td {
    border-bottom: #1f1f1f solid 1px;
  }
}