<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!--<script src="../../vendor/angularjs/angular.js"></script>-->
    <script src="http://apps.bdimg.com/libs/angular.js/1.2.9/angular.min.js"></script>
    <script src="app/index2.js"></script>

    <!--
    angularjs1.3.0以下
    使用index2.js文件
    -->
</head>

<body ng-app="myApp">

<div ng-controller="firstController">
    <div>
        <ul>
            <li ng-repeat="user in data | filterCity">
                {{user.name}} ------ {{user.age}} ----- {{user.city}}
            </li>
        </ul>
    </div>
</div>

<div ng-controller="secondController">
    <div>
        <ul>
            <li ng-repeat="user in mydata">
                {{user.name}} ------ {{user.age}} ----- {{user.city}}
            </li>
        </ul>
    </div>
</div>
</body>
</html>